*.iml
.gradle
/local.properties

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/com/example/b_daygetter/PrivetData/PrivetDataAndUsers.java

/.idea/*
app/build/*
.gradle/*
